VAULT_ADDR=http://0.0.0.0:8200
VAULT_API_ADDR=http://0.0.0.0:8200
SKIP_SETCAP=true

VAULT_TOKEN=token

KEY1=key
KEY2=key
KEY3=key
KEY4=key
KEY5=key

AUTH_DB_URL=postgresql://username:password@db-server:5432/db_name
AUTH_DB_NAME=db_name
AUTH_DB_USER=user
AUTH_DB_PASSWORD=password
AUTH_SERVER_ADDR=0.0.0.0:8080
