KEY1: ""
KEY2: ""
KEY3: ""
KEY4: ""
KEY5: ""
VAULT_TOKEN: ""

NET_GATEWAY_SSL_CRT: ""
NET_GATEWAY_SSL_KEY: ""

AUTH_JWT: ""
API_GATEWAY_JWT: ""
USER_JWT: ""

AUTH_DB_URL: ""
AUTH_DB_NAME: "atfq_db"
AUTH_DB_USER: "atfq"
AUTH_DB_PASSWORD: ""
AUTH_SERVER_ADDR: "0.0.0.0:8080"

AUTH_CHA_CHA_KEY: ""
AUTH_GOOGLE_CLIENT_ID: ""
AUTH_GOOGLE_CLIENT_SECRET: ""
AUTH_GOOGLE_REDIRECT_URL: "https://atfq.org/auth/callback/google"
AUTH_GITHUB_CLIENT_ID: ""
AUTH_GITHUB_CLIENT_SECRET: ""
AUTH_GITHUB_REDIRECT_URL: "https://atfq.org/auth/callback/github"
AUTH_SMTP_USERNAME: ""
AUTH_SMTP_PASSWORD: ""

API_GATEWAY_SERVER_ADDR: "0.0.0.0:8080"
API_GATEWAY_AUTH_DB_NAME: "atfq_db"
API_GATEWAY_AUTH_DB_USER: "atfq"
API_GATEWAY_AUTH_DB_PASSWORD: ""
API_GATEWAY_USER_DB_NAME: "atfq_db"
API_GATEWAY_USER_DB_USER: "atfq"
API_GATEWAY_USER_DB_PASSWORD: ""

USER_DB_NAME: "atfq_db"
USER_DB_USER: "atfq"
USER_DB_PASSWORD: ""
USER_SERVER_ADDR: "0.0.0.0:8080"
USER_S3_ENDPOINT: "http://minio-user:9000"
USER_S3_PUBLIC_URL: "http://localhost"
USER_S3_BUCKET: "profiles"
USER_AWS_ACCESS_KEY_ID: ""
USER_AWS_SECRET_ACCESS_KEY: ""
USER_MINIO_ROOT_USER: ""
USER_MINIO_ROOT_PASSWORD: ""

WIKI_DB_NAME: "atfq_db"
WIKI_DB_USER: "atfq"
WIKI_DB_PASSWORD: ""
WIKI_METRICS_ADDR: "0.0.0.0:9091"
